---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../sections/Hero.astro";
import Conocenos from "../sections/Conocenos.astro";
import ComoFunciona from "../sections/ComoFunciona.astro";
import NuestraMision from "../sections/NuestraMision.astro";
---

<Layout title="Welcome to Astro.">
    <NavBar />
    <main>
        <Hero />
        <Conocenos />
        <img src="heroImage.png" alt="Hero Image" class="w-screen h-screen -mt-1" />
        <ComoFunciona />
        <NuestraMision />
        <section
            id="quien-somos"
            class="min-h-screen bg-white flex items-center justify-center"
        >
            <div>
                <h2 class="text-3xl font-bold text-green-700">Quién somos</h2>
                <p class="mt-4 text-lg">Contenido sobre quién somos...</p>
            </div>
        </section>

        <section
            id="contact"
            class="min-h-screen bg-gray-100 flex items-center justify-center"
        >
            <div>
                <h2 class="text-3xl font-bold text-green-700">Contacto</h2>
                <p class="mt-4 text-lg">Contenido de contacto...</p>
            </div>
        </section>
    </main>
</Layout>
