<nav class="w-full flex justify-center items-center absolute px-32">
    <div class="w-full max-w-7xl grid grid-cols-3 items-center">
        <ul class="flex space-x-8 items-center">
            <li>
                <a
                    href="#conocer"
                    class="text-[#004932] font-semibold hover:text-green-900"
                >
                    conocer
                </a>
            </li>
            <li>
                <a
                    href="#quien-somos"
                    class="text-[#004932] font-semibold hover:text-green-900"
                >
                    quién somos
                </a>
            </li>
            <li>
                <a
                    href="#contact"
                    class="text-[#004932] font-semibold hover:text-green-900"
                >
                    contact
                </a>
            </li>
        </ul>

        <div class="flex-grow flex justify-center">
            <img src="/voluIcon.png" alt="Logo" class="h-32" />
        </div>
        <div class="flex justify-end">
            <button
                class="px-4 py-3 bg-[#FFB2E2] rounded-2xl font-bold text-lg w-fit h-fit"
            >
                Hazte voluntario
            </button>
        </div>
    </div>
</nav>
