<section
    id="conocer"
    class="h-screen w-screen bg-[#004932] p-[88px] flex items-center justify-center"
>
    <div class="flex flex-row items-center justify-between gap-28">
        <div class="w-1/2">
            <h2 class="text-7xl font-bold text-[#ffb2e2]">CONÓCENOS</h2>
            <p class="mt-4 text-lg text-white">
                Estamos desarrollando una plataforma innovadora para conectar
                voluntarios cualificados en áreas como marketing, diseño
                gráfico, programación y mucho más, con ONGs que necesitan apoyo
                para sus misiones.
            </p>
            <p class="mt-4 text-lg text-white">
                Volu ofrece una manera simple, gratuita y eficaz de fortalecer
                proyectos sociales y promover el impacto positivo en el mundo.
            </p>
        </div>
        <div class="w-1/2 flex justify-center">
            <img src="/standing-iphone.png" alt="Standing Iphone" />
        </div>
    </div>
</section>
