---
import { Icon } from "astro-icon/components";
---

<section class="h-screen flex items-center justify-center px-32">
    <img src="knot.svg" alt="knot" class="absolute -z-10" />
    <div class="flex flex-row items-end justify-center">
        <div class="w-1/2">
            <h1 class="text-black text-6xl font-bold uppercase">
                Hazte Voluntario y Transforma tu Talento Misión Social!
            </h1>
        </div>
        <div class="w-1/2 flex h-full justify-end align-bottom">
            <div class="w-3/5 flex items-end flex-col gap-2">
                <h4 class="text-right text-black text-xl">
                    Volu conecta voluntarios digitales con ONGs para impulsar
                    proyectos y ampliar su impacto.
                </h4>
                <button class="bg-[#ffb2e1] rounded-full p-2">
                    <Icon name="mdi:arrow-down" />
                </button>
            </div>
        </div>
    </div>
</section>
