<section
    id="conocer"
    class="h-screen w-screen flex items-center justify-center"
>
    <div
        class="bg-[#d7ff3c] rounded-[32px] p-20 mx-32 h-2/3 flex flex-col gap-4 items-center"
    >
        <h3 class="text-center uppercase text-6xl text-[#004932] font-semibold">
            Nuestra Misión
        </h3>
        <p class="w-[55%] text-xl">
            Estamos desarrollando una plataforma innovadora para conectar
            voluntarios cualificados en áreas como marketing, diseño gráfico,
            programación y mucho más, con ONGs que necesitan apoyo para sus
            misiones.
        </p>
    </div>
    <img src="/purpleSlash.png" alt="Purple Slash" class="absolute mt-10" />
</section>
