<section
    id="somos"
    class="h-screen w-screen flex flex-col items-center justify-center relative"
>
    <img src="/pinkSlash.png" alt="Pink Slash" class="" />

    <div
        class="flex justify-center flex-col text-center w-1/2 gap-4 -mt-[7rem]"
    >
        <h4 class="text-center text-6xl uppercase text-[#004932] font-semibold">
            Quiénes Somos
        </h4>
        <p class="text-2xl">
            Somos un equipo multidisciplinar formado por tres departamentos.
        </p>
    </div>

    <img src="/orangeSlash.png" alt="Orange Slash" class="" />
</section>
