<section
    id="somos"
    class="h-screen w-screen flex flex-col items-center relative"
>
    <img src="/pinkSlash.png" alt="Pink Slash" class="" />

    <div
        class="flex justify-center flex-col text-center md:w-1/2 gap-4 md:-mt-[7rem] -mt-[3rem]"
    >
        <h4
            class="text-center md:text-6xl text-2xl text-[#004932] font-semibold"
        >
            Quiénes Somos
        </h4>
        <p class="md:text-2xl text-base">
            Somos un equipo multidisciplinar formado por tres departamentos.
        </p>
    </div>
    <img src="/orangeSlashDiseño.png" alt="Orange Slash" class="" />
</section>
